uvicorn~=0.34.0
chromadb~=0.6.3
openai~=1.65.4
beautifulsoup4~=4.13.3
markdown~=3.7
fastapi~=0.115.11
bs4~=0.0.2
requests~=2.32.3
docling
openai
tiktoken
markdownify
flask~=3.1.0
google-genai~=1.10.0
